<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.goubaa.harry.nightplus">

  <!-- 网络请求权限 -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- SD card 读写权限 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <!-- 手机电话权限 -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <!-- WIFI 权限 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <!-- GPS 权限 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
    android:name=".SessionApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true">
    <activity
      android:name=".Views.Launch"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".Views.MainActivity"
      android:launchMode="singleTop"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity
      android:name=".Views.IntroductionActivity"
      android:launchMode="singleTop"
      android:theme="@style/IntroductionTheme" />
    <activity
      android:name=".Views.BannerActivity.BannerActivity"
      android:launchMode="singleTop"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity
      android:name=".Views.BuyerPostInfo.BuyerPostInfo"
      android:launchMode="singleTop"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

  </application>

</manifest>